<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/AddFormstyle.css">
    <title>Add Services Form</title>
</head>
<body>
    <header>
        <nav>  <!-- NAVIGATION MENU -->
<a href="/AddServices"><div id="navcontainer"><img src="/img/arrowmenu.png"  id="arrowmenu" alt="arrowmenu" width="26px" height="24px"></a>
                <img src="/img/ODBlogo.png" id="ODBLogo" alt="ODBLogo"></div><br>
        </nav>
    </header>

    <main>

    <!-- ADD FORM CONTAINER -->

    <div class="container">
<form method="POST" action="/AddPrestation" enctype="multipart/form-data"> <!-- chemin qui correspond à la route dans adminRouter qui permettra d'ajouter en bdd et de les récupérer sur la page AddServices ensuite. -->
    <h1>Ajout</h1>
    <label>Titre : </label>
    <input class="input-case" type="text" name="title"/>
    <label>Catégorie : </label>
    <input class="input-case" type="text" name="category"/>
    <label>Prix : </label>
    <input class="input-case" type="text" name="price"/>
    <label>Type : </label>
    <input class="input-case" type="text" name="type"/>
    <label for="file">Sélectionnez une image :</label>
  <input type="file" id="image" name="photo">
  <div id="ajout">
    <button type="submit">Ajouter</button>
</div>
</form>
</div>