<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/AddServicesstyle.css">
    <title>Services Dashboard Administrator</title>
</head>
<body>
    <header>
        <nav>  <!-- NAVIGATION MENU -->
<a href="/adminhome"><div id="navcontainer"><img src="/img/arrowmenu.png"  id="arrowmenu" alt="arrowmenu" width="26px" height="24px"></a>
                <img src="/img/ODBlogo.png" id="ODBLogo" alt="ODBLogo"></div><br>
        </nav>
    </header>
    
    <main> <!-- ADD/MODIFY/DELETE BUTTON -->
        <div id="prestation"><p>Mes prestations</p></div>
        <div class="ActionButton">
            <a href="/AddForm" target="_blank"> <img id="Addbg" src="/img/Addbuttonbg.png" alt="AddButton"></a>
            <a href="/ModifyForm" target="_blank"><img id="Modifybg" src="/img/Modifybuttonbg.png" alt="ModifyButton"></a>
            <a href="/DeleteForm" target="_blank"><img id="Deletebg" src="/img/Deletebuttonbg.png" alt="DeleteButton"></a>
        </div>
        
        <!-- Service Part -->
        <div id="services">
            <div id="container">
            <div>
                <div class="circle">
                    <img src="/img/coupe.png" alt="coupe">
                </div>
                <div class="titleService">{% for prestation in prestation %}{{prestation.title}}</div> <!-- FOR qui va itérer toutes les coupes existante en bdd -->
                <div class="price">
                    <p>{{prestation.type}} </p>
                    <p>{{prestation.price}}€</p>
                </div>
            </div>
            <div>
                <div class="circle">{% endfor %}
                    <img src="/img/coloration.png" alt="coloration">
                </div>
                <div class="titleService">Coloration</div>
                <div class="price">
                    <p>Adulte : 15€</p>
                    <p>Adulte : 15€</p>
                </div>
            </div>
            <div>
                <div class="circle">
                    <img src="/img/barbe.png" alt="barbe">
                </div>
                <div class="titleService">Barbe et Contour</div>
                <div class="price">
                    <p>Adulte : 15€</p>
                    <p>Adulte : 15€</p>
                </div>
            </div>

            <div>
                <div class="circle">
                    <img src="/img/shampoing.png" alt="shampoing">
                </div>
                <div class="titleService">Soin Capillaire</div>
                <div class="price">
                    <p>Adulte : 15€</p>
                    <p>Adulte : 15€</p>
                </div>
            </div>

            </div>
        </div>
            <!-- disconnect AND remove account buttons  -->
            <div id="remove">
                <button id="disconnect">Deconnexion</button>
            </div>


    </main>
    
</body>
</html>