<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/css/adminAgenda.css">
		<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/index.global.min.js'></script>
		<script>
		document.addEventListener('DOMContentLoaded', async function () { // on a la fonction qui permet d'afficher le calendrier
let calendarEl = document.getElementById('calendar'); // le calendar est ici
let calendar = new FullCalendar.Calendar(calendarEl, {
initialView: 'timeGrid',
locale: "fr"
});


//******Creation du calendrier******//

let events = await fetch('http://localhost:3005/events') // Ici on récupere les evenements à partir de l'API
events = await events.json()//Ensuite on converti les evenement que nous avons récupéré au formats JSON
console.log(events);
events.forEach(element => {//Nous ajoutons chaque evenement récupérer dans le calendrier
calendar.addEvent(element);
});
calendar.render();//Pour finir on affiche le calendrier grace à la méthode render de l'objet calendar.

//******Modification du design du calendrier******//

let div = document.createElement('div');	// Création d'un nouvel élément HTML <div>
div.classList.add('container-date')			// Ajout de la classe CSS "container-date" à l'élément <div>
let parent = document.querySelector('.fc-header-toolbar');	// Recherche de l'élément HTML parent avec la classe CSS ".fc-header-toolbar"
div.innerHTML = '<p class="date"></p><p class="date"></p><p class="date"></p><p class="date"></p><p class="date"></p><p class="date"></p><p class="date"></p>' // Ajout de contenu HTML dans l'élément <div>
parent.insertAdjacentElement('afterend', div);	// Ajout de l'élément <div> juste après l'élément parent
let hr = document.createElement('hr')	// Création d'un nouvel élément HTML <hr>


//******Calendrier sur sept jours******//


for (let i = 0; i < 7; i++) { // Nous faison une boucle sur septs éléments de la classe Date
let date = new Date() // Création d'un objet Date pour la date courante
await date.setDate(date.getDate() + i) // Ajout de "i" jours à la date courante pour obtenir la date de la semaine en cours
let dateStr = await date.toLocaleDateString('fr-fr', { // Conversion de la date en chaîne de caractères au format "jour de la semaine, jour du mois" en français
weekday: "short",
day: "numeric"
})
document.querySelectorAll('.date')[i].innerHTML = dateStr // Ajout de la date dans le paragraphe <p> correspondant
document.querySelectorAll('.date')[i].addEventListener('click', () => {// Ajout d'un écouteur d'événements au clic sur le paragraphe <p>
calendar.gotoDate(date)// Déplacement du calendrier à la date cliquée
})
}
//Nous avons caché certain bouton du calendrier dans un soucis de design
let btn = document.querySelectorAll('.fc-button')
btn.forEach(elem=>{
	elem.style.display = "none"
});
console.log(calendar.getEvents());
});
		</script>
	</head>
	<body>

		<header>
			<a href="/adminhome"><img id="arrow" src="/img/fleche_gauche.png" width="33px" height="33px" alt="fleche"></a>
			<a href="/adminhome"><img id="logo" src="/img/logo.png" alt="logo"></a>
		</header>
		<main>
			<div>
				<h2>Agenda</h2>
			</div>

			<div id='calendar'></div>
			
		</main>

	</body>

</html>
