<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/AdminHomestyle.css">
    <title>Admin Home</title>
</head>
<body>
    <!-- CONTAINER ONE CONTENANT L'ENSEMBLE DU CONTENU DE LA PAGE -->
    
    <div class="containerone">
    <img src="/img/header.png" alt="imgmodel" id="imgmodel" height="300px" width="300px">
    
    <!-- CI DESSOUS LES 4 BOUTONS DE LA PAGE -->
    
    <a href="/AdminAgenda"><button type="button" class="agendabutton" type="submit">AGENDA</button></a>
    <a href="/ClientList"><button type="button" class="otherbutton" type="submit">MES CLIENTS</button></a>
    <a href="/AddServices"><button type="button" class="otherbutton" type="submit">MES PRESTATIONS</button></a>

    <a href="#"><button type="button" class="logout" type="submit">DECONNEXION</button></a>
 </div>

 <!-- LE FOOTER CONTENANT LE LOGO DE LA PAGE -->
 <footer>
<div id="footerlogo"><img src="/img/ODBlogo.png" alt="ODBlogo"></div>
 </footer>

</body>
</html>