<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/AdminAgendastyle.css">
    <title>Agenda Administrator</title>
</head>
<body>
    <header>
        <nav>  <!-- NAVIGATION MENU -->
<a href="/adminhome"><div id="navcontainer"><img src="/img/arrowmenu.png"  id="arrowmenu" alt="arrowmenu" width="26px" height="24px"></a>
                <img src="/img/ODBlogo.png" id="ODBLogo" alt="ODBLogo"></div><br>
        </nav>
    </header>
    
    <main>
            <!-- AGENDA PART -->
<div id="agendacontainer">
<div><p>Agenda</p></div>
<div class="calendly-inline-widget" data-url="https://calendly.com/boughanmieddy8" style="min-width:320px;height:630px;"></div> <!-- LIEN WIDGET DE L'API-->
<script type="text/javascript" src="https://calendly.com/assets/external/widget.js"></script> <!-- script de l'api  -->
</div>

    </main>
    
</body>
</html>