<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/css/adminAgenda.css">
		<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/index.global.min.js'></script>
		<script>
			document.addEventListener('DOMContentLoaded', async function () { // on a la fonction qui permet d'afficher le calendrier
let calendarEl = document.getElementById('calendar'); // le calendar est ici
let calendar = new FullCalendar.Calendar(calendarEl, {
initialView: 'timeGrid',
locale: "fr"
});


let events = await fetch('http://localhost:3005/events') // on appelle la route qu'on fetch
events = await events.json()
console.log(events);
events.forEach(element => {
calendar.addEvent(element);
});
// Ajouter l'événement au calendrier
calendar.render();

let div = document.createElement('div');
div.classList.add('container-date')
let parent = document.querySelector('.fc-header-toolbar');
div.innerHTML = '<p class="date"></p><p class="date"></p><p class="date"></p><p class="date"></p><p class="date"></p><p class="date"></p><p class="date"></p>' 
parent.insertAdjacentElement('afterend', div);
let hr = document.createElement('hr')


for (let i = 0; i < 7; i++) {
let date = new Date()
await date.setDate(date.getDate() + i)
let dateStr = await date.toLocaleDateString('fr-fr', {
weekday: "short",
day: "numeric"
})
document.querySelectorAll('.date')[i].innerHTML = dateStr
document.querySelectorAll('.date')[i].addEventListener('click', () => {
calendar.gotoDate(date)
})
}
let btn = document.querySelectorAll('.fc-button')
btn.forEach(elem=>{
	elem.style.display = "none"
})
});
console.log(calendar.getEvents());
		</script>
	</head>
	<body>

		<header>
			<a href="/adminhome"><img id="arrow" src="/img/fleche_gauche.png" width="33px" height="33px" alt="fleche"></a>
			<a href="/adminhome"><img id="logo" src="/img/logo.png" alt="logo"></a>
		</header>
		<main>
			<div>
				<h2>Agenda</h2>
			</div>

			<div id='calendar'></div>
			
		</main>

	</body>

</html>
