<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/ClientListstyle.css">
    <title>Agenda Administrator</title>
</head>
<body>
    <header>
        <nav>  <!-- NAVIGATION MENU -->
<div id="navcontainer"><img src="/img/arrowmenu.png"  id="arrowmenu" alt="arrowmenu" width="26px" height="24px">
                <img src="/img/ODBlogo.png" id="ODBLogo" alt="ODBLogo"></div><br>
        </nav>
    </header>
    
    <main>
            <!-- CLIENT LIST PART -->
<div class="cardclient"><p>Mes clients</p></div>
<div class="clients">
    <div class="clientcontainer">
    <p>Eddy Boughanmi</p>
    <p>@hotmail.fr</p>
    <p>00.11.22.33.44</p>
    </div>
    <div class="clientcontainer">
    <p>Dhoimir Mgomri</p>
    <p>@hotmail.fr</p>
    <p>00.11.22.33.44</p>
    </div>
    <div class="clientcontainer">
    <p>Antoy Naffai</p>
    <p>@hotmail.fr</p>
    <p>00.11.22.33.44</p>
    </div>
  </div>


    </main>
    
</body>
</html>