<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/customerAgenda.css">
    <title>Document</title>
</head>
<body>
    <header>
        <img id="arrow" src="/img/fleche_gauche.png" width="33px" height="33px" alt="fleche">
        <img id="logo" src="/img/logo.png"  alt="logo">
    </header>
    <main>
        <div class="accordion">
            <div class="accordion-header">Lundi 20 Mai 2023<span class="arrow"></span></div>
            <div class="accordion-content">
            <div class="time">09h30</div>
            <div class="time">09h30</div>
            <div class="time">09h30</div>
            <div class="time">09h30</div>
            <div class="time">09h30</div>
            <div class="time">09h30</div>
            <div class="time">09h30</div>
            <div class="time">09h30</div>
            <div class="time">09h30</div>
            <div class="time">09h30</div>
            <div class="time">09h30</div>
            <div class="time">09h30</div>
            <div class="time">09h30</div>
            <div class="time">09h30</div>
            <div class="time">09h30</div>
            </div>
        </div>
    </main>
    <script src="/js/customerAgenda.js" ></script>
</body>
</html>