<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/dashBoard.css">
    <title>Oncle_d_Barber</title>
</head>
<body>
    <header>
        <a href="/modificationProfil">
        <img id="home" src="/img/home.png" alt="home">
        </a>
        <img src="/img/logo.png" alt="logo">
    </header>
    <main>
        <!-- Dashbord Part -->
        
        <div id="name">
            <p>
                Bonjour <br>
                {% for customer in customers %}
                <p>{{ customer.name }} {{ customer.firstname }}</p> 
                
            </p>
        </div>
        
        <div id="appointment_card">
            <div id="dashboard">
                <p>Prochain rendez-vous</p>
                <p>22/02/2023 à 14h30</p>
                <div>
                    <button>Modifier</button>
                    <button>Supprimer</button>
                </div>
            </div>
        </div>
        <!-- Service Part -->
        <div id="services">
            <div id="title">
                <p>Quel service souhaites-tu ?</p>
                <div></div>
            </div>
            <div id="container">
            <div>
                <div class="circle">
                    <img src="/img/coupe.png" alt="coupe">
                </div>
                <div class="titleCircle">Coupe de cheuveux</div>
                <div class="price">
                    <div class="choice">
                            <input class="checkbox-spin" type="checkbox" id="check1"/>
                            <label for="check1"><span></span>Adulte: 15€</label>
                    </div>
                    <div class="choice">
                        <input class="checkbox-spin" type="checkbox" id="check2"/>
                        <label for="check2"><span></span>Adulte: 15€</label>
                    </div>
                </div>
            </div>
            <div>
                <div class="circle">
                    <img src="/img/coloration.png" alt="coloration">
                </div>

                <div class="titleCircle">Coloration</div>
                <div class="price">
                    <div class="choice">
                        <input class="checkbox-spin" type="checkbox" id="check3"/>
                        <label for="check3"><span></span>Adulte: 15€</label>
                </div>
                <div class="choice">
                    <input class="checkbox-spin" type="checkbox" id="check4"/>
                    <label for="check4"><span></span>Adulte: 15€</label>
                </div>
                </div>
            </div>
            <div>
                <div class="circle">
                    <img src="/img/barbe.png" alt="barbe">
                </div>
                <div class="titleCircle">Barbe et Contour</div>
                <div class="price">
                    <div class="choice">
                        <input class="checkbox-spin" type="checkbox" id="check5"/>
                        <label for="check5"><span></span>Adulte: 15€</label>
                </div>
                <div class="choice">
                    <input class="checkbox-spin" type="checkbox" id="check6"/>
                    <label for="check6"><span></span>Adulte: 15€</label>
                </div>
                </div>
            </div>
            <div>
                <div class="circle">
                    <img src="/img/shampoing.png" alt="shampoing">
                </div>
                <div class="titleCircle">Soin Caplillaire</div>
                <div class="price">
                    <div class="choice">
                        <input class="checkbox-spin" type="checkbox" id="check7"/>
                        <label for="check7"><span></span>Adulte: 15€</label>
                </div>
                <div class="choice">
                    <input class="checkbox-spin" type="checkbox" id="check8"/>
                    <label for="check8"><span></span>Adulte: 15€</label>
                </div>
                </div>
            </div>
            </div>
        </div>
        <!-- Opinion and fidelity -->
            <div id="OpinionFidelity">
                <div id="fidelityCard">
                    <div id="fidelityPicture">
                        <img src="/img/jeton_fidelité.png" alt="jeton">
                        <img src="/img/jeton_fidelité.png" alt="jeton">
                        <img src="/img/jeton_fidelité.png" alt="jeton">
                        <img src="/img/jeton_fidelité.png" alt="jeton">
                        <img src="/img/jeton_fidelité.png" alt="jeton">
                        <img src="/img/jeton_fidelité.png" alt="jeton">
                        <img src="/img/jeton_fidelité.png" alt="jeton">
                    </div>
                </div>
                <div id="TitleFidelityCard">
                    <h2>Ta carte de fidélité</h2>
                </div>
                <div id="opinion">
                <p>Laisse un avis</p>
                </div>
            </div>
            <!-- disconnection and deletion -->
            
            <div id="remove">
            <a href="/logout">
                <button id="disconnect">Deconnexion</button>
            </a>
            <button class="show-modal">Supprimer compte</button>
                <div class="modal hidden">
                    <button class="close-modal" id="delete">&times;</button>
                    <p id="text">
                    Voulez vous vraiment supprimer votre compte ?
                    
                    <a href="/customerDelete/{{customer._id}}">
                    <button>Oui</button>
                    </a>
                    <button id="btnNo">Non</button>
                    </p>
                    <p>Oncle D t'as vraiment tué à ce point ?</p>
                </div>
                <div class="overlay hidden"></div>
            </div>
            </div>
            {% endfor %}  
            <!-- La boucle for nous sert à itérer tout le tableau se trouvant sur mongo db -->
    </main>
    <script src="/js/main.js"></script>
</body>
</html>