<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/dashBoard.css">
    <title>Oncle_d_Barber</title>
</head>
<body>
    <header>
        <img src="/img/home.png" alt="home">
        <img src="/img/logo.png" alt="logo">
    </header>
    <main>
        <!-- Dashbord Part -->
        
        <div id="name">
            <p>
                Bonjour <br>
                {{customerName}}{{customerFirstname}}
            </p>
        </div>
        <div id="appointment_card">
            <div id="dashboard">
                <p>Prochain rendez-vous</p>
                <p>22/02/2023 à 14h30</p>
                <div>
                    <button>Modifier</button>
                    <button>Supprimer</button>
                </div>
            </div>
        </div>
        <!-- Service Part -->
        <div id="services">
            <div id="title">
                <p>Quel service souhaites-tu ?</p>
                <div></div>
            </div>
            <div id="container">
            <div>
                <div class="circle">
                    <img src="/img/coupe.png" alt="coupe">
                </div>
                <div class="titleCircle">Coupe de cheuveux</div>
                <div class="price">
                    <p>Adulte : 15€</p>
                    <p>Adulte : 15€</p>
                </div>
            </div>
            <div>
                <div class="circle">
                    <img src="/img/coloration.png" alt="coloration">
                </div>
                <div class="titleCircle">Coloration</div>
                <div class="price">
                    <p>Adulte : 15€</p>
                    <p>Adulte : 15€</p>
                </div>
            </div>
            <div>
                <div class="circle">
                    <img src="/img/barbe.png" alt="barbe">
                </div>
                <div class="titleCircle">Barbe et Contour</div>
                <div class="price">
                    <p>Adulte : 15€</p>
                    <p>Adulte : 15€</p>
                </div>
            </div>
            <div>
                <div class="circle">
                    <img src="/img/shampoing.png" alt="shampoing">
                </div>
                <div class="titleCircle">Soin Caplillaire</div>
                <div class="price">
                    <p>Adulte : 15€</p>
                    <p>Adulte : 15€</p>
                </div>
            </div>
            </div>
        </div>
        <!-- Opinion and fidelity -->
            <div id="OpinionFidelity">
                <div id="fidelityCard">
                    <div id="fidelityPicture">
                        <img src="/img/jeton_fidelité.png" alt="jeton">
                        <img src="/img/jeton_fidelité.png" alt="jeton">
                        <img src="/img/jeton_fidelité.png" alt="jeton">
                        <img src="/img/jeton_fidelité.png" alt="jeton">
                        <img src="/img/jeton_fidelité.png" alt="jeton">
                        <img src="/img/jeton_fidelité.png" alt="jeton">
                        <img src="/img/jeton_fidelité.png" alt="jeton">
                    </div>
                </div>
                <div id="TitleFidelityCard">
                    <h2>Ta carte de fidélité</h2>
                </div>
                <div id="opinion">
                <p>Laisse un avis</p>
                </div>
            </div>
            <!-- disconnection and deletion -->
            <div id="remove">
            <a href="/logout">
                <button id="disconnect">Deconnexion</button>
            </a>
            <a href="/customerDeletet">
                <button id="delete">Supprimer compte</button>
            </a>
            </div>
    </main>
</body>
</html>