<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/css/pages/login.css">
		<title>Connexion</title>
	</head>
	<body>
		<div class="container-login">

			<div class="container-form">
				<form action="/login" method="post">
					<div class="mail-size">
						<input type="text" class="mail-bloc" id="loginMail" name="mail" value="{{company.mail}}" placeholder="E-mail">
						<span>{{error.mail}}</span>
					</div>
					<div class="password-size">
						<input type="password" class="password-bloc" id="loginPass" name="password" placeholder="Mot de passe">
						<span>{{error.password}}</span>
					</div>

					<div class="edit-passeword">
						<a href="">Mot de passe oublié</a>
					</div>
					<div class="login-button">
						<button type="submit">Connexion</button>
					</div>
				</form>
			</div>
            
			<div class="tool">
				<img src="./img/outil.png" alt="">
			</div>
			<div class="mower">
				<img src="./img/tondeuse.png" alt="">
			</div>

			<div class="afro-test">
				<img src="./img/peigneAfro.png" alt="">
			</div>

			<div class="logo-register">
				<img src="./img/Logo.png" alt="">
			</div>

		</div>
	</body>
</html>
