<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/css/login.css">
		<title>Document</title>
	</head>

	<body>
		<div id="picture">
			<img id="pictureOne" src="/img/tondeuse1.png" alt="tondeuse">
			<img id="pictureTwo" src="/img/lame.png" alt="lame">
		</div>
		<main>
			<form id="connexion" action="/login" method="POST">
				<label for="email"></label>
				<input type="email" id="email" name="email" placeholder="email" required>

				<label for="password"></label>
				<input type="password" id="password" name="password" placeholder="Mot de passe" required>

				<a href="">Mot de passe oublié</a>

			<div>
				<p>{{errorLogin}}</p>
			</div>

				<input type="submit" id="connect" value="Connexion">
			</form>
		</main>
		<div id="pictureThree">
			<img id="comb" src="/img/peigne.png" alt="peigne">
			<img id="logo" src="/img/logo.png" alt="logo">
		</div>
	</body>

</html>
