<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/ModifyFormstyle.css">
    <title>Add Services Form</title>
</head>
<body>
    <header>
        <nav>  <!-- NAVIGATION MENU -->
<div id="navcontainer"><img src="/img/arrowmenu.png"  id="arrowmenu" alt="arrowmenu" width="26px" height="24px">
                <img src="/img/ODBlogo.png" id="ODBLogo" alt="ODBLogo"></div><br>
        </nav>
    </header>

    <main>

    <div class="container">
<form action="" method="post">
    <h1>Modification</h1>
    <label>Titre : </label>
    <input type="text" name="nom" />
    <label>Personne : </label>
    <input type="text" name="prenom" />
    <label>Prix : </label>
    <input type="text" name="telephone" />
    <label>Type : </label>
    <input type="text" name="adresse" />
    <label>Image : </label>
    <input type="text" name="email" />
    <button type="submit">Valider</button>
</form>
</div>