<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/modificationProfil.css">
    <title>Oncle_d_Barber</title>
</head>

<body>
    <a href="/dashboard">
    <h1>
        <img src="/img/home.png" alt="home">
    </h1>
    </a>
    <header>
        <img id="mower" src="/img/tondeuse_1.png" alt="tondeuse">
        <h2>Modifier le profil</h2>
        <img id="blade"src="/img/lame.png" alt="lame">
    </header>
    <main>
        <form>
            <div>
                <label for="name">Nom</label><br>
                <input type="text" id="name" name="name">
            </div>

            <div>
                <label for="surname">Prénom</label><br>
                <input type="text" id="surname" name="surname">
            </div>

            <div>
                <label for="email">Email</label><br>
                <input type="email" id="email" name="email">
            </div>

            <div>
                <label for="phone">Téléphone</label><br>
                <input type="tel" id="phone" name="phone">
            </div>

            <div>
                <label for="password">Mot de passe</label><br>
                <input type="password" id="password" name="password">
            </div>

            <div>
                <label for="confirm_password">Confirmer le mot de passe</label><br>
                <input type="password" id="password" name="confirmPassword">
            </div>

            <div>
                <button id="button" >Valider</button>
            </div>
        </form>
    </main>
    <footer>
        <img id="comb" src="/img/peigne.png" alt="peigne">
        <img id="logo" src="/img/logo.png" alt="logo">
    </footer>
</body>

</html>