<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/paymentstyle.css">
        <title>Paiement</title>
    </head>
    <body>
        <header>
            <a href="/dashboard"><img id="arrow" src="/img/fleche_gauche.png" width="33px" height="33px" alt="fleche"></a>
            <img id="logo" src="/img/logo.png"  alt="logo">
        </header>
        <main>
        <div id="container">
            <div id="container-text">
            {% for events in events %}
            <p>Ton tete a tete avec Oncle D</p>
            <p>sera le :</p>
            <p id="date"><p>{{ events.dateString }} </p></p>
                {% endfor %}
            </div>
            <div id="image">
            </div>
        </div>
        <div id="container_payment">

        <div id="container_white">
            <h3>Mode de paiement</h3>

            <div class="txt">
            <input type="radio" id="onSite" name="payment" value="onSite" checked>
            <label for="onSite">Sur place</label>
            </div>

            <div class="txt">
            <input type="radio" id="paypal" name="payment" value="paypal">
            <label for="paypal"><img src="/img/Paypal.png" alt="paypal"> </label>
            </div>
        </div>

        <div id="submit">
            <button type="submit">Confirmer</button>
        </div>
        <div id="network">
            <img src="/img/snapchat.png" alt="snap">
            <div class="point"></div>
            <img src="/img/insta.png" alt="insta">
            <div class="point"></div>
            <img src="/img/Tiktok.png" alt="tiktok">
            <img id="tondeuse" src="/img/tondeuse 2.png" alt="tondeuse">
        </div>
            
        </div>
        </main>

    </body>
</html>