<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/payment.css">
        <title>Paiment</title>
    </head>
    <body>
        <header>
            <div class="back">
                <a href=""><img src="./img/retour.png" alt=""></a>
            </div>
            <div class="logo">
                <img src="./img/Logo.png" alt="">
            </div>
        </header>
        <div class="container-text-logo">
            <div class="container_text">
                <div class="text">
                    <p>Ton tête à tête avec Oncle D sera le :
                        <br>Mardi 10 Mai à 18h30
                        <br>Confirme si c'est ok pour toi.</p>
                </div>
</div>
            <div class="draw">
                <img src="./img/dessin.png" alt="">
            </div>
        </div>

        <div class="bloc_payment">
            <div class="choice_size">
                <div class="choice_payment">
                    <h1>Mode de Paiment</h1>

                    <div class="place">
                        <div>
                            <p>Sur place</p>
                        </div>
                        <div class="confirmed"></div>
                    </div>

                    <div class="paypal">
                        <img src="./img/paypal.png" alt="">
                        <div class="confirmed_2"></div>
                    </div>
                </div>
            </div>
<div class="button-confirmed">
                <button class="button_8">Confirmer</button>
            </div>

            <div class="social-size">
                <div class="social">
                    <div class="button-social">
                        <a href=""><img src="./img/snap.png" alt=""></a>
                    </div>
                    <div class="item"></div>

                    <div class="button-social">
                        <a href=""><img src="./img/instagram.png" alt=""></a>
                    </div>

                    <div class="item"></div>

                    <div class="button-social">
                        <a href=""><img src="./img/tiktok.png" alt=""></a>
                    </div>
                </div>
</div>
            <div class="test">
                <img src="./img/tond.png" alt="">
            </div>
        </div>


    </body>
</html>