<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/css/postpaymentstyle.css">
		<title>Paiement</title>
	</head>
	<body>

		<header>
			<a href="/dashboard"><img id="arrow" src="/img/fleche_gauche.png" width="33px" height="33px" alt="fleche"></a>
			<img id="logo" src="/img/logo.png" alt="logo">
		</header>


		<main>

			<div id="section">
				<div id="container">
					<div id="container-text">
						<p>Ton rendez-vous,</p>
						<p>est pris en compte.</p>
						<p>Tu recevras un email</p>
						<p>de confirmation une fois ton
						</p>
						<p>rendez-vous validé par mes soins</p>
					</div>
				</div>

				<div>
					<img id="image" src="/img/Patrick.svg" alt="patrick">
				</div>
			</div>


			<div id="container_payment">

				<div id="thank">
                <div>
                    <h2>Merci et à bientot !</h2>
                </div>
                <div>
                    <a href="/clientreview">Voir les avis</a>
                </div>
            </div>

					<div id="network">
						<img src="/img/snapchat.png" alt="snap">
						<div class="point"></div>
						<img src="/img/insta.png" alt="insta">
						<div class="point"></div>
						<img src="/img/Tiktok.png" alt="tiktok">
					</div>
				</div>
			</div>
		</main>
	</body>
	<script src="/js/payment.js"></script>
</html>
