@media screen and (max-width:768px) {

    @font-face {
        font-family: Istok web;
        src: url(../font/IstokWeb-Bold.ttf);
        
    }


body{
    display: flex;
    font-family:Istok web;
    margin: 0;
    padding: 0;
    background-color: #EDE1D1;
    flex-direction: column;
}

header{
    display: flex;
    align-items: center;
    
}

#arrow{
    margin-right: 3rem;
    margin-left: 1rem;
}

#logo{
    margin: 0 2rem;
}

h2{
    margin-left: 20px;
}

main{
    background-color: #F3EBE0;
}

#calendar{
    margin: auto;
    width: 357px;
    height: 600px;
    background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;

}

.fc .fc-toolbar.fc-header-toolbar {
    display: flex;
    margin-top: 8px;

}

#fc-dom-1{
    font-family: Istok web;
    font-size: 25px;
    margin-left: 25px;
    

}
.presentation tr:first-child{
    display: none;
}

}