@media screen and (max-width: 768px) {
    *{
      margin: 0;
      padding: 0;
  }
        @font-face {
          font-family: istokbold;
          src: url(../font/IstokWeb-Bold.ttf);
      }
      @font-face {
          font-family: istokregular;
          src: url(../font/IstokWeb-Regular.ttf);
      } 
    body{
    background-color: #EDE1D1;
      font-family: istokbold;
    }
  /* ------------------ LA NAV CONTIENT LE MENU ET SES ELEMENTS ------------------------------- */
    #navcontainer{
      display: flex;
      justify-content:space-between;
      margin-top: 35px;
      margin: 0;
      }
      #arrowmenu{ /* ------ FLECHE DU MENU-------- */
      margin-top: 68px;
      margin-left: 12px;
      }
      #ODBLogo{/* ------ LOGO ODB  ------ */
      margin-right:150px;
      margin-top: 36px;
      }
      p{
        margin: 1%;
      }
      h1{
        text-align: center;
        margin-top: 15px;
      }

      /* ------------------ CORPS DU CONTAINER ------------------------------- */
      #container{
        margin: 7%;
      }
      #clientspicture{
        text-align: center;
      }
      hr{
        border: 1px solid #000000;
      }

       /* ------------------ FORMULAIRE ------------------------------- */
      form{
        text-align: center;
      }

    input{
        width: 294px;
        height: 21px;
        border-radius: 7px;
        border: solid 0px;
        font-family: istokbold;
        color: gray;
    }
    textarea{
        width:294px;
        border-radius: 7px;
        border: solid 0px;
        font-family: istokbold;
        color: gray;
    }
      
    button{
        background: #FFFFFF;
        border: 1px solid #2B1615;
        border-radius: 26px;
        width: 170px;
        height: 30px;
        font-family: istokbold;
        color: black;
    }
    .stars{
        margin-bottom: 23px;
    }
    
      
      /* ------------------ footer ------------------------------- */

      #network{
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 114px;
    }

    .point{
        width: 6px;
        height: 6px;
        border-radius: 100%;
        background-color: #2B1615;
        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    #engine{
      position: absolute;
      width: 158px;
      height: 142px;
      top: 852px;
      left: 230px;
    }

  
  
  }