@media screen and (max-width:768px) {
    @font-face {
        font-family: Istok web;
        src: url(../font/IstokWeb-Bold.ttf);
        
    }

    @font-face {
        font-family: Istokbold;
        src: url(../font/IstokWeb-Bold.ttf);
        
    }

body{
    font-family:Istok web;
    margin: 0;
    padding: 0;
    background-color: #EDE1D1;

}

#picture{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#pictureOne{ /*************** Tondeuse************/
    position: absolute;
    left: 22px;
top: 75px;
width: 170px;
height: 160px;
}

#pictureTwo{ /*************** Lame************/
    position: relative;
    left: 276.68px;
    top: 100px;
    width: 102px;
    height: 102px;
}

main{
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 3rem;
}

#connexion{/*************** container du form************/
    width: 338px;
    height: 555px;
    background: #B18D8B;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}



#email{
    
    background: #EDE1D1;
    border: 1px solid #523839;
    border-radius: 23px;
    height: 44px;
    font-family: Istok web;
    font-size: large;
    align-items: center;
    text-align: center;
    margin-top: 49px;
}



input[type="email"]::placeholder {
    color: #523839;
    text-align: center;
    background-image: url(../img/email.png);
    background-repeat: no-repeat;
    background-position: 25px;
    background-size: 18px;
}


#comb{ /*************** Peigne************/
    position: absolute;
left: 3px;
top: 670px;

}

#logo{ /*************** logo ODB ************/
    position: absolute;
width: 150px;
height: 150px;
left: 222px;
top: 728px;

}

h2{
    margin-top: 100px;
}

button{
    background: #EDE1D1;
    border: 1px solid #523839;
    border-radius: 23px;
    height: 44px;
    font-family: Istok web;
    text-align: center;
    margin: 10px;
}

}