
body{
    font-family:Istok web;
    margin: 0;
    padding: 0;
    background-color: #EDE1D1;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
    height: 100dvh;

}

#logo{
    width: 23rem;
    height: 22rem;
    flex-shrink: 0;
    margin-top: 12%;
    margin: auto;
}


#network{
    margin: auto;
    display: flex;

}

.point{
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: #2B1615;
    margin: 1rem 1rem 0 1rem;

}


#opinion{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
}

#button{
    width: 100%;
    height: 19rem;
    background-color:#B18D8B ;
    margin-top: 10%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.click{   
    width: 270px;
    height: 60px;
    background: #EDE1D1;;
    border: 1px solid #2B1615;;
    border-radius: 8px;
    font-size: large;

}
.click:hover{
    background: #2B1615;
    border: 1px solid #EDE1D1;
    color: white;

}


@media screen and (max-width:768px) {

#logo{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

#opinion{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
}

#button{
    width: 100%;
    height: 80%;

}


}