@font-face {
    font-family: Istok web;
    src: url(../font/IstokWeb-Bold.ttf);
    
}

body{
font-family:Istok web;
margin: 0;
padding: 0;
background-color: #EDE1D1;

}

#picture{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#pictureOne{
    position: absolute;
    left: 10%;
top: 2%;
width: 170px;
height: 160px;
z-index: 99;
}

#pictureTwo{
    position: absolute;
    right: 10%;
    top: 5%;
    width: 102px;
    height: 102px;
    z-index: 99;

}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
    height: 100dvh;
}

#connexion{
    width: 80%;
    height: 40rem;
    background: #B18D8B;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    position: relative;
}

#email{
    margin-top: 10%;
    background: #EDE1D1;
    border: 1px solid #523839;
    border-radius: 23px;
    height: 44px;
    font-family: Istok web;
    font-size: large;
    align-items: center;
    text-align: center;
}

#formulaire{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

#password{
    height: 44px;
    margin-top: 6rem;
    background: #EDE1D1;
    border: 1px solid #523839;
    border-radius: 23px;
    font-family: Istok web;
    font-size: large;
    align-items: center;
    text-align: center;
}

input[type="email"]::placeholder {
    color: #523839;
    text-align: center;
    background-image: url(../img/email.png);
    background-repeat: no-repeat;
    background-position: 25px;
    background-size: 18px;
}

input[type="password"]::placeholder {
    color: #523839;
    text-align: center;
    background-image: url(../img/cadenas.png);
    background-repeat: no-repeat;
    background-position: 25px;
    background-size: 18px;
}


#connect{
    width: 170px;
    height: 44px;
    background: #EDE1D1;
    border: 1px solid #2B1615;
    border-radius: 26px;
    margin-top: 10%;
    font-family: Istok web;
}

#connect:hover{
    background: #2B1615;
    border: 1px solid #EDE1D1;
    color: white
}

#pictureThree{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#comb{
    position: absolute;
    left: 10%;
    bottom: 15%;
    width: 130px;
    height: 130px;
    z-index: 99;
}

#logo{

display: flex;
justify-content: end;
width:100%;
margin-right: 5%;
}


@media screen and (max-width:768px) {

#pictureOne{
    width: 100px;
    height: 90px;

}

#pictureTwo{
    width: 100px;
    height: 90px;
    top: 1%;
}


#email{
    margin-top: 15%;
}


a{
    margin-top: 5rem;
    margin-bottom: 4rem;
    font-size: small;
}

#comb{
    width: 100px;
    height: 100px;
    left: 10%;
    bottom: 15%;
}
#formulaire{
    margin: auto;
}

#logo img{
    width: 80px;
    height: 80px;
}


}