*{
  margin: 0;
  padding: 0;
}
    @font-face {
      font-family: istokbold;
      src: url(../font/IstokWeb-Bold.ttf);
  }
  @font-face {
      font-family: istokregular;
      src: url(../font/IstokWeb-Regular.ttf);
  } 
body{
  background-color: #F3EBE0;
  font-family: istokbold;
}
/* ------------------ nav container ------------------------------- */
#navcontainer{
  display: flex;
  justify-content:space-between;
  margin-top: 35px;
  background-color: #EDE1D1;
  margin: 0;
  }
  #arrowmenu{ /* ------ MENU-------- */
  margin-top: 48px;
  margin-left: 35px;
  }
  #ODBLogo{/* ------ LOGO ODB  ------ */
  margin-right:35px;
  }
  /* ------------------ FORM CONTAINER ------------------------------- */
main{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.container{
  background-color:#B18D8B;
  height: 500px;
  width: 60%;
  max-width: 44rem;
  border-radius:20px ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
form{
display: flex;
flex-direction: column;
margin: 7px;
}
h1{
text-align: center;
}
button{
  width: 170px;
  height: 44px;
  background: #FFFFFF;
  border: 1px solid #2B1615;
  border-radius: 26px;
  margin: auto; 
}

.input-case{
  width: 15rem;
  height: 2rem;
    border: 2px solid black;
    margin: 5px;
}

input{
    border: 2px solid black;
}

#image{
  border: 2px solid black;
  margin: 5px;
  }

  #ajout{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

@media screen and (max-width: 768px) {

    .container{
      background-color:#B18D8B;
      height: 500px;
      width: 80%;
      border-radius:20px ;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    
    form{
    display: flex;
    flex-direction: column;
    margin: 7px;
    }

    }