@font-face {
    font-family: Istok web;
    src: url(../font/IstokWeb-Bold.ttf);
    
}

body {
    margin: 0;
    font-family: 'Istok Web', sans-serif;
    background-color: #EDE1D1;
}

main{
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    height: 100%;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2%;
}

#arrow{
    margin-right: 3rem;
    margin-left: 1rem;
}

#logo{
    margin: 0 2rem;
}

#section{
    max-width: 580px;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

#container{
background-image: url(../img/container.svg);
background-position: center;
background-size: cover;
width: 243px;
height: 121px;
margin-left: 10px;
line-height: 0.4em;
display: flex;
justify-content: center;
margin: auto;
}

#container-text{
    margin:auto;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

#container-text p{
    margin: 5px;
}




#container_payment{
width: 100%;
height: 100%;
background: radial-gradient(70% 50px at 50% 0, transparent, 80%, #B18D8B 80.5%) top center;
background-size: 100% 200%;
background-repeat: no-repeat;
transition: 0.5s all 0.4s ease-out;
display: flex;
flex-direction: column;
align-items: center;
}


#image{
    width: 350px;
    height: 350px;
}


#thank{
    border-radius: 4px;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    }


.point{
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: #2B1615;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

#network{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
}

@media screen and (max-width: 768px)  {

    
    #container{
    width: 201px;
    height: 101px;
    }
    
    #container-text{
        margin:auto;
        font-size: 12px;
    }
    
    #date{
        font-size: 20px;
    }


    #thank{
        margin-top: 15%;
        }
    
#image{
    width: 135px;
    height: 135px;
}


}





